<div class="page-header">
	<h3>Messaging</h3>
</div>
<uib-tabset>
	<uib-tab>
		<uib-tab-heading>
			<span class="fa fa-arrow-circle-o-down fa-lg"></span> Inbox
		</uib-tab-heading>
		<user-messages-list get-messages="$ctrl.getUserInbox" 
							displayed-columns="$ctrl.inboxMessagesListDisplayedColumns"></user-messages-list>
	</uib-tab>
	<uib-tab>
		<uib-tab-heading>
			<span class="fa fa-arrow-circle-o-up fa-lg"></span> Sent
		</uib-tab-heading>
		<user-messages-list get-messages="$ctrl.getSentUserMessages"
							displayed-columns="$ctrl.sentMessagesListDisplayedColumns"></user-messages-list>
	</uib-tab>
</uib-tabset>