<div class="page-header">
	<h4>Start an auction</h4>
</div>
<form ng-submit="$ctrl.submit()" name="$ctrl.form" novalidate>
    <formly-form model="$ctrl.model" fields="$ctrl.fields" form="$ctrl.form">
        <button type="submit" class="btn btn-primary">Start</button>
    </formly-form>
</form>