<div class="page-header">
	<h4>{{ $ctrl.auction.title }} <span ng-if="$ctrl.auction.wasFinished" class="side-note text-dimmed small">(finished)</span></h4>
</div>
<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default" ng-if="!$ctrl.auction.wasFinished">
			<div class="panel-heading">Participate in auction</div>
			<div class="panel-body">
				<form class="form-inline bottom-margin" ng-if="$ctrl.auction.buyNowPrice">
					<div class="form-group">
						<button type="submit" class="btn btn-primary" ng-click="$ctrl.makeBuyNowBid()">Buy now</button> for {{ $ctrl.auction.buyNowPrice | currency }}
					</div>
				</form>
				<form class="form-inline">
					<div class="form-group">
						<button type="submit" class="btn btn-primary" ng-click="$ctrl.makeUserEnteredBid()">Make a bid</button> for <input ng-model="$ctrl.bidPrice" type="number" class="form-control" step="0.01" placeholder="Enter your bid">
					</div>
				</form>
			</div>
		</div>
		<div class="panel panel-default panel-body">
			<dl class="dl-horizontal">
				<dt>
					Seller
				</dt>
				<dd>
					<user-reference user-name="$ctrl.auction.createdByUserName"></user-reference>
				</dd>
				<dt ng-if="$ctrl.auction.wasFinished">
					Sold for
				</dt>
				<dd ng-if="$ctrl.auction.wasFinished">
					{{ $ctrl.auction.currentPrice | currency }}
				</dd>
				<dt ng-if="$ctrl.auction.buyNowPrice">
					Buy now price
				</dt>
				<dd ng-if="$ctrl.auction.buyNowPrice">
					{{ $ctrl.auction.buyNowPrice | currency }}
				</dd>
				<dt ng-if="!$ctrl.auction.wasFinished">
					Current price
				</dt>
				<dd ng-if="!$ctrl.auction.wasFinished">
					{{ $ctrl.auction.currentPrice | currency }}
				</dd>
				<dt>
					Starting price
				</dt>
				<dd>
					{{ $ctrl.auction.startingPrice | currency }}
				</dd>
				<dt>
					Number of bids
				</dt>
				<dd>
					{{ $ctrl.auction.numberOfBids }}
				</dd>
				<dt ng-if="$ctrl.auction.highestBidderUserName">
					Highest bidder
				</dt>
				<dd ng-if="$ctrl.auction.highestBidderUserName">
					<user-reference user-name="$ctrl.auction.highestBidderUserName"></user-reference>
				</dd>
				<dt ng-if="!$ctrl.auction.wasFinished">
					Ends
				</dt>
				<dd ng-if="!$ctrl.auction.wasFinished">
					{{ $ctrl.auction.endDate | formatDateTime }} (in {{ $ctrl.auction.endDate | formatToNowDateTime }})
				</dd>
				<dt ng-if="$ctrl.auction.wasFinished">
					Ended
				</dt>
				<dd ng-if="$ctrl.auction.wasFinished">
					{{ $ctrl.auction.finishedDateTime | formatDateTime }}
				</dd>
				<dt>
					Started
				</dt>
				<dd>
					{{ $ctrl.auction.createdDateTime | formatDateTime }}
				</dd>
			</dl>
		</div>
	</div>
	<div class="col-md-7">
		<div class="panel panel-default">
			<div class="panel-heading">Item description</div>
			<div class="panel-body">
				<new-lines-to-paragraphs text="$ctrl.auction.description"></new-lines-to-paragraphs>
			</div>
		</div>
	</div>
</div>