<div class="modal-header">
    <span class="modal-title">Login</span>
</div>
<form ng-submit="$ctrl.login()" name="$ctrl.form" novalidate>
    <div class="modal-body" id="modal-body">
        <formly-form model="$ctrl.model" fields="$ctrl.fields" form="$ctrl.form"></formly-form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary submit-button" ng-click="$ctrl.login()">OK</button>
        <button type="button" class="btn" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</form>