<!DOCTYPE html>
<html lang="en" ng-app="auctionHouse">
<head>
    <meta charset="utf-8"/>
    <title>Auction House</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
</head>
<body ng-controller="applicationCtrl as $ctrl">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	        </button>
			<a ui-sref="home" class="navbar-brand">Auction House</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li></li>
                <li ng-hide="$ctrl.securityUiService.isUserAuthenticated">
                    <a href ng-click="$ctrl.securityUiService.showLogInDialog()">Log in</a>
                </li>
                <li ng-show="$ctrl.securityUiService.isUserAuthenticated">
                    <a href ng-click="$ctrl.securityUiService.logOut()">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    <div>
        <a ui-sref="createAuction">Create auction</a>
        <ui-view></ui-view>
    </div>
    <hr/>
</div>
<div us-spinner="$ctrl.spinnerOptions" class="busy-overlay" ng-show="$ctrl.busyIndicator.isBusy"></div>

@Scripts.Render("~/bundles/libs")
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/app/ApplicationBundle.js"></script>
</body>
</html>