<!DOCTYPE html>
<html lang="en" ng-app="auctionHouse">
<head>
	<meta charset="utf-8"/>
	<title>Auction House</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@Styles.Render("~/Content/css")
</head>
<body ng-controller="applicationCtrl as $ctrl">
<nav class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a ui-sref="home" class="navbar-brand">
				<span class="fa fa-gavel fa-lg"></span> Auction House
			</a>
		</div>
		<form class="navbar-form navbar-left">
			<div class="form-group">
				<input ng-model="$ctrl.auctionsSearchQueryString" type="text" id="main-search-input" 
					   class="form-control" placeholder="Search auctions">
			</div>
			<button ng-disabled="!$ctrl.checkIfAuctionsSearchQueryStringIsValid()"
					ng-click="$ctrl.searchAuctions()"
			        type="submit" class="btn btn-default">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</form>
		<ul class="nav navbar-nav navbar-right">
			<li ng-show="$ctrl.securityUiService.isUserAuthenticated">
				<a ui-sref="createAuction">
					<span class="fa fa-plus-circle fa-lg"></span> Create auction
				</a>
			</li>
			<li ng-hide="$ctrl.securityUiService.isUserAuthenticated">
				<a href ng-click="$ctrl.securityUiService.showSignInDialog()">
					<span class="fa fa-sign-in"></span> Sign in
				</a>
			</li>
			<li ng-show="$ctrl.securityUiService.isUserAuthenticated" class="dropdown">
				<a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<span class="fa fa-user-circle fa-lg"></span> {{ $ctrl.securityUiService.currentUserName }}
				</a>
				<ul class="dropdown-menu">
					<li >
						<a href ng-click="$ctrl.securityUiService.signOut()">
							<span class="fa fa-sign-out"></span> Sign out
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
<div class="container body-content">
	<div>
		<ui-view></ui-view>
	</div>
</div>
<hr />

<div us-spinner="$ctrl.spinnerOptions" class="busy-overlay" ng-show="$ctrl.busySpinnerIsVisible"></div>

@Scripts.Render("~/bundles/libs")
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/app/ApplicationBundle.js"></script>

</body>
</html>