<formly-transclude></formly-transclude>
<div class="error-messages" ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched">
    <div class="error-message" ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages">
        {{message(fc.$viewValue, fc.$modelValue, this)}}
    </div>
</div>